/.vs
/.vs/CreateURealmsTiles/v15/.suo
/.vs/CreateURealmsTiles/v15/Server/sqlite3/db.lock
/.vs/CreateURealmsTiles/v15/Server/sqlite3/storage.ide
/CreateURealmsTiles/bin/Debug/CreateURealmsTiles.exe
/CreateURealmsTiles/bin/Debug/CreateURealmsTiles.exe.config
/CreateURealmsTiles/bin/Debug/CreateURealmsTiles.pdb
/CreateURealmsTiles/obj/Debug/CreateURealmsTiles.csproj.CoreCompileInputs.cache
/CreateURealmsTiles/obj/Debug/CreateURealmsTiles.csproj.FileListAbsolute.txt
/CreateURealmsTiles/obj/Debug/CreateURealmsTiles.csprojResolveAssemblyReference.cache
/CreateURealmsTiles/obj/Debug/CreateURealmsTiles.exe
/CreateURealmsTiles/obj/Debug/CreateURealmsTiles.pdb
/CreateURealmsTiles/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CreateURealmsTiles/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CreateURealmsTiles/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CreateURealmsTiles/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CreateURealmsTiles/bin
/CreateURealmsTiles/obj
